/* Home CSS */
.headings{
    padding-top: 20px;
    padding-left: 50px;
  }
  
  .welcome{
    width: fit-content;
    margin-top: 10vh;
    margin-left: 30px;
  }
  .welcome>h1{
    font-weight: bolder;
    margin: 0;
    padding: 0;
  }
  
  .cta{
    margin-top: 30px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
    text-align: center;
  }
  .cta > a{
    border: 1px solid;
    padding: 10px 20px;
    animation: changingColor 2.5s ease-in-out infinite;
  }
  @keyframes changingColor {
    0% {
      color: #03FFF5;
      border-color: #03FFF5;
    }
    50% {
      color: #FF0050;
      border-color: #FF0050;
    }
    100% {
      color: #03FFF5;
      border-color: #03FFF5;
    }
  }
  .cta > a:hover{
    transition: .3s ease-in;
    color: var(--color--cyan);
    border: 1px solid var(--color--cyan);
  }
  .scroll{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2rem;
  }
  .scroll>img, .scroll-right >img{
    object-fit: cover;
    width: 17px;
  }
  .scroll-right{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 2rem;
    float: right;
    margin-left: auto;
    margin-right: 0px;
    right: 0;
  }
  
  .animated-image {
    position: absolute;
    bottom: 2rem;
    animation: moveUpDown 2s ease-in-out infinite;
  }
  
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  /* Home CSS */
  