/* Portfolio CSS */
.portHeadings{
    width: fit-content;
    margin-left: 30px;
  }
  .portfolioGrid{
    background-color: var(--color--dark-gray);
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 00px;
    row-gap: 00px;
  }
  .noOverflow{
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  .portfolioGrid{
    opacity: 70%;
  }
  .portfolioGridContent:hover{
    opacity: 100%;
    transform: scale(1.5,1.5); 
  }
  .link-inside-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
  }
  .link-inside-div> img{
    border-radius: 50px;
    visibility: hidden;
    object-fit: fill;
    box-shadow: 0px 0px 10px #000000;
    width: 10px;
    aspect-ratio: 1/1;
  }
  .portfolioGridContent:hover .link-inside-div> img {
    visibility: visible;
    scale: 7;
    transition:all .5s ease;
  }
  .inUse{
    visibility: visible;
    scale: 7;
  }
  @keyframes slide {
    0%{
      width: 0px;
    }
    100%{
      width: 100%;
    }
    100%{
      width: 100%;
    }
  }

.ProjectCOntainer{
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  z-index: 2;
  position: fixed;
  left:100vw;
  transition: all 1s;
  top: 0;
}
.Project-active{
  top: 0;
  transform: rotate(0deg);
  left: 0;
  visibility: visible;
  width: 100vw;
  height: 100vh;
}
.contentWrapper{
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
}
.projectContent{
  background-color: white;
  height: max-content;
}
.projectContent > img{
  width: 100%;
}
.closePorto{
  background-color: black;
  color: white;
  border: 0px;
  top: 10px;
  left: 72%;
  position: fixed;
  float: right;
  margin-left: auto;
  margin-right: 0;
  padding: 20px;
}
.to-git{
  top: 90vh;
  z-index: 5;
  left: 44%;
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  padding-left: 55px;
  background-color: var(--color--pink);
}
.to-git:hover{
  background-color: var(--color--cyan);
  color: var(--color--dark-gray);
}
/* Portfolio CSS */
@media screen and (max-width: 1366px) {
  .portfolioGrid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1024px) {
  .portfolioGrid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .contentWrapper{
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    margin-left: 0%;
  }
  .portfolioGrid{
    grid-template-columns: 1fr 1fr;
  }
}